.wrapper {
    background-image: url(./images/WebsiteBackground.jpg);
    background-size: cover;
    background-position: center 0;
    height: 100vh;
}

.wrapper1 {
    background-image: url(./images/1.jpg);
    background-size: cover;
    background-position: center 0;
    height: 100vh;
}

.wrapper2 {
    background-image: url(./images/2.jpg);
    background-size: cover;
    background-position: center 0;
    height: 100vh;
}

.wrapper3 {
    background-image: url(./images/3.jpg);
    background-size: cover;
    background-position: center 0;
    height: 100vh;
}

.wrapper4 {
    background-image: url(./images/4.jpg);
    background-size: cover;
    background-position: center 0;
    height: 100vh;
}

.wrapper5 {
    background-image: url(./images/5.jpg);
    background-size: cover;
    background-position: center 0;
    height: 100vh;
}

.wrapper6 {
    background-image: url(./images/6.jpg);
    background-size: cover;
    background-position: center 0;
    height: 100vh;
}

.wrapper7 {
    background-image: url(./images/7.jpg);
    background-size: cover;
    background-position: center 0;
    height: 100vh;
}

.wrapper8 {
    background-image: url(./images/8.jpg);
    background-size: cover;
    background-position: center 0;
    height: 100vh;
}

.wrapper9 {
    background-image: url(./images/9.jpg);
    background-size: cover;
    background-position: center 0;
    height: 100vh;
}

.wrapper10 {
    background-image: url(./images/10.jpg);
    background-size: cover;
    background-position: center 0;
    height: 100vh;
}

.wrapper11 {
    background-image: url(./images/11.jpg);
    background-size: cover;
    background-position: center 0;
    height: 100vh;
}

.wrapper12 {
    background-image: url(./images/12.jpg);
    background-size: cover;
    background-position: center 0;
    height: 100vh;
}

.wrapper13 {
    background-image: url(./images/13.jpg);
    background-size: cover;
    background-position: center 0;
    height: 100vh;
}

.wrapper14 {
    background-image: url(./images/14.jpg);
    background-size: cover;
    background-position: center 0;
    height: 100vh;
}

.wrapper15 {
    background-image: url(./images/15.jpg);
    background-size: cover;
    background-position: center 0;
    height: 100vh;
}

.wrapper16 {
    background-image: url(./images/16.jpg);
    background-size: cover;
    background-position: center 0;
    height: 100vh;
}

.wrapper17 {
    background-image: url(./images/17.jpg);
    background-size: cover;
    background-position: center 0;
    height: 100vh;
}

.wrapper18 {
    background-image: url(./images/18.jpg);
    background-size: cover;
    background-position: center 0;
    height: 100vh;
}

@media(min-width: 500px) {

    .wrapper,
    .wrapper1,
    .wrapper2,
    .wrapper3,
    .wrapper4,
    .wrapper5,
    .wrapper6,
    .wrapper7,
    .wrapper8,
    .wrapper9,
    .wrapper10,
    .wrapper11,
    .wrapper12,
    .wrapper13,
    .wrapper14,
    .wrapper15,
    .wrapper16,
    .wrapper17,
    .wrapper18 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-width: 1000px;
        z-index: -10;
        zoom: 1;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-position: center 0;
    }
}